@import "variables/_variables.scss";

* {
    margin: 0;
    padding: 0;
}

.nav_menu{
    background-color: $nav_color;
    display: flex;
    height: 80px;
    align-items: center;
    
    .menu_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        
    }
    .menu{
        border: 2px solid;
        border-radius: 5px;
        padding: 4px 8px;
        font-family: $menu_font;
        text-transform: uppercase;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);


        &:hover{
            
            -webkit-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75);
        }
    }

    .login{
        background-color: lightcyan;
        border: 2px solid;
        width: 200px;
        height: 80px;
        align-items: center;
    }

    .logo{
        position: relative;
        left: 40px;
        img{
            width: 60px;
            height: 60px;
            left: 15px;


        }
    }
        
    
    
}